.main {
	display: flex;
	width: var(--width-outer);
	justify-content: center;
	margin: 0 auto;
}

.title {
	align-self: flex-start;
}

.container{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-left: 20px;
}
